* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container,
.container-header,
.perguntas {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

body > header  {
    background-color: rgba(24, 61, 109, 0.808);
    padding: 20px 0;
    color: rgb(255, 255, 255);
}

.container-header h3 {
    padding: 14px 0;
}

/* Fonters e cores */

.container-header h3{
    font-family: 'Sono', sans-serif;
}

form input, 
p,
button {
    margin: 6px 0;
}

form label,
p {
    font-family: 'Sono', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

form button{
    font-family: 'Sono', sans-serif;
    display: block;
    width: 60px;
    padding: 5px;
}

form button {
    background-color:   rgba(24, 61, 109, 0.808);
    color: aliceblue;
    border: none;  
    cursor: pointer;
}

form button:hover {
    background-color: rgba(2, 90, 253, 0.623);
}

input:focus {
    outline-color: rgba(2, 90, 253, 0.623);
}